body{ 
    margin: 0; 
    padding: 0; 
    height: 100%; 
    background: url(../images/BackGroundBlack3.png); 
    text-transform: none; 
    font-family: helvetica;
	
	}
	
  
#stage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#dead {
  display: none;
  top: 0;
  position: absolute;
  background: #FFF;
  font-size: 2em;
  padding: 5% 0;
  width: 40%;
  height: 40%;
  text-align: center;
  margin: 0 30%;
}
#text{
	margin-right:2px;  	
	padding: 5%;
	
}
h3{
	color: #FFF;
}
h5{
	color: #CC6633;
}
p{
	color:#FFFFFF;
	
}
h3{
	color: #FFF;
}